@model IEnumerable<BeanSceneApp.Models.Sitting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SittingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SittingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SittingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SittingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SittingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
