@model BeanSceneApp.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sitting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sitting.TableCode)
        </dd>
        @* <dt class="col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.Member) *@
        @* </dt> *@
        @* <dd class="col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Member.Email) *@
        @* </dd> *@
    </dl>
</div>
<div>
    <i class="bi bi-pencil">
        <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a>
    </i> |
    <i class="bi bi-backspace">
        <a asp-action="Index">Back to List</a>
    </i>
</div>
