@model IEnumerable<BeanSceneApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
@* <p> *@
@*     <i class="bi bi-plus-circle"> *@
@*         <a asp-action="Create">Create New</a> *@
@*     </i> *@
@* </p> *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservation List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Reservations" asp-action="Create" class="btn btn-primary" width="20%">
                <i class="bi bi-plus-circle"></i>&nbsp;Add New Reservation
            </a>
        </div>
    </div>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GuestName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GuestCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sitting)
                </th>
                @* <th> *@
                @*     @Html.DisplayNameFor(model => model.Member) *@
                @* </th> *@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sitting.SittingType)
                    </td>
                    @* <td> *@
                    @*     @Html.DisplayFor(modelItem => item.Member.Email) *@
                    @* </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>